:root {
    --primary: 237, 94%, 81%;
    --background: 266, 16%, 92%;
    --background-secondary: 187, 30%, 50%;
    --background-secondary-dark: 187, 30%, 50%;
    --background-secondary-light: 218, 100%, 46%;
    --text-primary: 0, 0%, 100%;
    /* Colors */
    --black: 0, 0%, 100%;
    --white: 0, 0%, 100%;
    --quite-gray: 218, 0%, 100%;
    --grooble: 10, 28%, 93%;
    /* Sizes */
    --heading-large: 5.6rem;
    --heading-medium: 3.6rem;
    --heading-small: 2.4rem;
    --paragraph: 1.11rem;
    --navbar-buttons: 2.4rem;
    /* misc */
    --transition-main: .175, .685, .32;
    /* Fonts */
    --font-main: "Poppins";
}
html, body {
    margin: 0;
    width: 100%;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
#back{
    background-image: url("/static/images/header1.png");
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: cover;
}
.wrapper {
    height: 100%;
  }
/* ============
    Typography
   ============ */

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/* Font Size */
h1 {
    font-size: var(--heading-large);
}
h2 {
    font-size: var(--heading-medium);
}
h3 {
    font-size: var(--heading-small);
}
h4 {
    font-size: calc(var(--heading-small) - .2rem);
}
h5 {
    font-size: calc(var(--heading-small) - .4rem);
}
h6 {
    font-size: calc(var(--heading-small) - .6rem);
}
/* Font Weight */
h1, h2 {
    font-weight: 900;
}
h3, h4, h5, h6 {
    font-weight: 800;
}
/* Paragraphs */
p {
    margin: 0;
    font-size: var(--paragraph);
}
/* Links */
a {
    color: hsla(var(--primary), 1);
    font-size: var(--paragraph);
    text-decoration: underline;
}
a:visited {
    color: hsla(var(--primary), .5);
}

/* =========
    Buttons
   ========= */

button {
    padding: .8em 1.2em;
    /* border: 1px solid hsl(var(--black)); */
    /* background-color: hsl(var(--background)); */
    font-size: var(--paragraph);
    background-color: unset;
    cursor: pointer;
    border: unset;
    outline: none;
}
button:focus {
    transform: translateY(2px);
    transition: all .2s ease-in-out;
}

ul, ol {
    margin: 1em 0;
}

form {
    margin: 0;
}
fieldset {
    margin: 0;
    padding: .5em 0;
    border: none;
}
input {
    background-color: rgba(21, 226, 253, 0.3);
    /* border-radius: 5px; */
}

input, textarea, select {
    transition: all .2s ease-in-out;
    border: 1px solid #666666;
}
select {
    background-color:rgba(21, 226, 253, 0.3);
    outline: none;
    width: 4.5em;
    border: 1px solid #666666;
}
select option{
    color: #ffffff;
    background-color:rgb(12, 96, 107);
    
}select option::after{
  color: #ffffff;
  background-color:rgb(12, 96, 107);
}
select option:hover{
    background-color: #2e5bf0;
    transition: all .2s ease-in-out;
}
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-left-ns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.flexbox-col-start-center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
/* Spacings */
.flexbox-space-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-width {
    width: 70%;
}

#navbar {
    top: 0;
    padding: 0;
    width: 2%;
    z-index: 1;
    height: 100vh;
    position: fixed;
    background-color: hsl(var(--background-secondary));
    transition: width .35s cubic-bezier(var(--transition-main), 1);
    overflow-y: auto;
    overflow-x: hidden;
}
#navbar:hover {
    width: 16em;
}
#navbar::-webkit-scrollbar-track {
    background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}
.navbar-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* Navbar Logo */
.navbar-logo {
    /* margin: 0 0 2em 0; */
    width: 100%;
    height: 5em;
    background: hsl(var(--background-secondary-dark));
}
.navbar-logo > .navbar-item-inner {
    width: calc(5rem - 8px);
}
.navbar-logo > .navbar-item-inner:hover {
    background-color: transparent;
    
}
.navbar-logo > .navbar-item-inner > svg {
    height: 2em;
    fill: hsl(var(--white));
}
/* Navbar Items */
.navbar-item {
    padding: 0 .5em;
    /* width: 100%; */
    width: 350px;
    cursor: pointer;
}
.navbar-item-inner {
    padding: 1em 0;
    width: 100%;
    position: relative;
    color: hsl(var(--quite-gray));
    border-radius: .25em;
    text-decoration: none;
    transition: all .2s cubic-bezier(var(--transition-main), 1);
}
.navbar-item-inner:hover {
    color: hsl(var(--white));
    background: hsl(var(--background-secondary-light));
    box-shadow: 0 17px 30px -10px hsla(var(--black), .25);
}
.navbar-item-inner-icon-wrapper {
    width: calc(5rem - 1em - 8px);
    position: relative;
}
.navbar-item-inner-icon-wrapper ion-icon {
    position: absolute;
    font-size: calc(var(--navbar-buttons) - 1rem);
}
.link-text {
    margin: 0;
    width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .35s cubic-bezier(var(--transition-main), 1);
    overflow: hidden;
    opacity: 0;
}

#navbar:hover .link-text {
    width: calc(100% - calc(5rem - 8px));
    opacity: 1;
}

::selection {
    color: hsl(var(--white));
    background: hsla(var(--primary), .33);
}
/* Scrollbar */
::-webkit-scrollbar-track {
    background-color: hsl(var(--background));
}
::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(17, 143, 160, 0.5);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(17, 143, 160, 0.5);
}

@media only screen and (max-width: 1660px) {
    :root {
        /* Sizes */
        --heading-large: 5.4rem;
        --heading-medium: 3.4rem;
        --heading-small: 2.2rem;
    }
}
@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading-large: 5.2rem;
        --heading-medium: 3.2rem;
        --heading-small: 2rem;
    }
    .view-width {

        
        width: 80%;
    }
}
@media only screen and (max-width: 1220px) {
    .view-width {
        width: 70%;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        /* Sizes */
        --heading-large: 5rem;
        --heading-medium: 3rem;
        --heading-small: 1.8rem;
    }
    .view-width {
        width: 75%;
    }
}
@media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --heading-large: 4rem;
        --heading-medium: 2.6rem;
        --heading-small: 1.6rem;
        --paragraph: 1rem;
        --navbar-buttons: 2.2rem;
    }
    .view-width {
        width: calc(100% - 5em);
    }
}
@media only screen and (max-width: 576px) {
    .view-width {
        width: calc(100% - 3em);
    }
}
@media only screen and (max-width: 496px) {

}
.logo{
    display: block;
    background-image: url("/static/images/automation1.png");
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    width: 30px;
    height: 30px; 
}
header{
    background-image: url("/static/images/header4.png");
    height: 1.2em;
    margin-left: 2%;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: cover;
    line-height: 1em;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 3.5em;
    position: relative;
    z-index: 0.5;
}

img#fullscreenic{
    position: absolute;
    top: 55px;
    right: 20px;
    width: 32px;
    height: 32px;
}
.container{
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 1920px;
    position: relative;
    background-color: #000000ee;
    color: #fff;
}

.overlay-image {
  position: fixed;
  height: 100vh;
  width: 100%;
  margin-left: 2%;
  z-index: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5; 
  pointer-events: none;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4) 
    ),
    url('/static/images/cover.jpg');
}
.overlay-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.151); 
  z-index: 1;
  pointer-events: none;
}
#coppyright{
  position: fixed;
  bottom: 0; 
  right: 20px; 
  padding: 5px; 
  width: 210px;
  text-align: center;
  background-color: #ffffff3d;
  z-index: 1;
}
#coppyright a{
  color: #fff;
  font-size: 0.7em;
}
  .conTBottom {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    height: 65px;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
  
  }
  .mainContent{
    margin-left: 3%;
    margin-right: 1%;
  }
  .content{
    position: relative;
  }
  .filter{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    color: #fff;
    border-bottom: #fff;
    box-sizing: border-box;
    margin-top: -3em;
  }

  #filter{
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(66, 153, 225, 0.2);
  }

  #filter:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(66, 153, 225, 0.3);
    background-color: #6fddff;
    color: #000000;
    transition: all .5s ease-in-out; 
  }
  
  .filter input, select{
    color: #fff;
    outline: none;
  }
  .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: -2.8em;
  }
  
  .pagination a {
    color: #fff;
    float: left;
    align-items: center;
    text-align: center;
    padding: 8px 16px;
    background-color: unset;
    text-decoration: none;
    border: 0.5px solid #ddd;
    width: 0.8em;
  }
  #count{
    color: #fff;
    font-size: 1em;
    position: absolute;

  }
  .pagination a.active {
    background-color: rgb(21,226,253,0.3);
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #696666;}
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .chartAll{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .chartContent{
    position: relative;
    margin-top: 3.2em;
    height: 50%;
    color: #fff;
  }
  .chartCotent1{
    width: 96%;
    position: absolute;
    bottom: 22.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .chartContent2{
    width: 96%;
    position: absolute;
    bottom: -2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .chartContent2 .chart3{
    border-radius: 0.5em;
    padding: 10px;
    width: 50%;
    height: 450px;
    box-sizing: border-box;
    border: 1px solid rgba(21, 226, 253, 0.5);
    outline: 1px solid rgba(21, 226, 253, 0.671);
    outline-offset: -10px;
    transition: all 0.3s ease;
  }
  .chart3:hover {
    outline-offset: -2px;
  }
  .chartContent2 .chart4{
    border-radius: 0.5em;
    padding: 10px;
    width: 49%;
    height: 450px;
    box-sizing: border-box;
    border: 1px solid rgba(21, 226, 253, 0.5);
    outline: 1px solid rgba(21, 226, 253, 0.671);
    outline-offset: -10px;
    transition: all 0.3s ease;
  }
  .chart4:hover {
    outline-offset: -2px;
  }
  .chartCotent1 .chartColumn{
    border-radius: 0.5em;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid rgba(21, 226, 253, 0.5);
    outline: 1px solid rgba(21, 226, 253, 0.671);
    outline-offset: -10px;
    transition: all 0.3s ease;
  }
  .chartColumn:hover {
    outline-offset: -2px;
  }
  .chartCotent1 .chartColumn2{
    border-radius: 0.5em;
    padding: 10px;
    width: 49%;
    box-sizing: border-box;
    border: 1px solid rgba(21, 226, 253, 0.5);
    outline: 1px solid rgba(21, 226, 253, 0.671);
    outline-offset: -10px;
    transition: all 0.3s ease;
  }
  .chartColumn2:hover {
    outline-offset: -2px;
  }
  .chartContent h4{
    text-align: center;
  }
  .pieChartInfo{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    border-radius: 0.5em;
    padding: 10px;
    height: 468px;
    box-sizing: border-box;
    border: 1px solid rgba(21, 226, 253, 0.5);
    outline: 1px solid rgba(21, 226, 253, 0.671);
    outline-offset: -10px;
    transition: all 0.3s ease;
  }
  #backButton{
    display: none;
    padding: 5px 10px;
    position: absolute;
    right: 1em;
    top: 1em;
    box-sizing: border-box;
    transition: all 0.4s ease;
  }
  #backButton:hover{
    transform: scale(1.2);
    
  }
  
  .pieChartInfo:hover {
    outline-offset: -2px;
  }
  .chartRight{
    position: absolute;
    top: 0;
    right: 0;
    width: 49%;
    border-radius: 0.5em;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(21, 226, 253, 0.5);
    outline: 1px solid rgba(21, 226, 253, 0.671);
    outline-offset: -10px;
    transition: all 0.3s ease;
  }
  .chartRight:hover {
    outline-offset: -2px;
  }



  .info-force{
    display: flex;
    flex-direction: row;
    color: #fff;
    top: 0;
    right: 0;
  }
  .content-top {
    top: -3.9em;
    right: 0;
    width: 31%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: -4em;
    box-sizing: border-box;
  }
  .info1 {
    position: relative; 
    width: 111px;
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    z-index: 1;
    
  }
 .card {
  position: relative; 
  font-size: 1.1em; 
  z-index: 2;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  animation: moveUpDown 3s infinite; 
}


    @keyframes moveUpDown {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0); 
    }
    }
  .info1::before {
    content: '';
    position: absolute;
    top: 85%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: url('/static/images/circle_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    border-radius: 50%;
    animation: rotateBackground 25s linear infinite, lightUp 2s infinite;
    transform: translate(-50%, -50%) rotateX(80deg);
  }
  @keyframes rotateBackground {
    from {
      transform: translate(-50%, -50%) rotateX(80deg) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotateX(80deg) rotate(360deg);
    }
  }
  
  .info1::after {
    content: '';
    position: absolute;
    bottom: -20%; 
    left: 50%;
    width: 80%;
    height: 40%;
    transform: translateX(-50%);
    background: radial-gradient(circle  at center, rgba(0, 225, 255, 0.3), transparent);
    border-radius: 50%;
    animation: lightMove 4s infinite ease-in-out;
  }
  
  @keyframes lightMove {
    0% {
      bottom: -20%;
      opacity: 0;
    }
    50% {
      bottom: 30%;
      opacity: 1;
    }
    100% {
      bottom: 120%;
      opacity: 0;
    }
  }
  .infor {
    position: absolute;
    top: 6.3em;
    font-size: 1em;
    font-weight: 900;
    color: rgba(0, 225, 255, 0.9);
    text-shadow: 0 0 10px rgba(0, 225, 255, 0.8), 0 0 20px rgba(0, 225, 255, 0.6);
  }
  .dowfile{
    margin-top: 3em;
    margin-left: 1.5em;
    background-color: rgba(21, 226, 253, 0.3);
    text-align: center;
    width: 100px;
    border: 1px solid #666666;
    
  }
  #download-excel:hover{
    transform: translateY(-2px);
    
  }
  .dowfile a {
    color: #fff;
    padding: 5px;
    display: block;
  }
  .dowfile a:hover{
    background-color: #6fddff;
    color: #333;
    transition: all .5s ease-in-out;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(21, 226, 253, 0.3);
   }
  .tbl-content{
    height:275px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(21, 226, 253, 0.5);
  }
    .state-pass {
    color: #006eff;
    font-weight: bold;

    }

    .state-fail {
      color: #eb4d5a;
      font-weight: bold;
    }
  th{
    padding: 15px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 20px;
    text-align: center;
    vertical-align:middle;
    font-weight: 200;
    font-size: 13px;
    color: #fff;
    border-bottom: solid 1px rgba(21, 226, 253, 0.4);
  }

/*style chart column top error*/
.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.highcharts-description {
    margin: 0.3rem 10px;
}

/*style chart column*/
.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.highcharts-description {
    margin: 0.3rem 10px;
}


/* Style chart pie */

.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 500px;
    margin: 1em auto;
    z-index: 1;
}

.highcharts-figure {
    padding: 0;
}

#container-pie {
    height: 409px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #fcfcfc;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background:unset;
}

.highcharts-data-table tr:hover {
    background:unset;
}

.highcharts-description {
    margin: 0.3rem 10px;
}
#loading {
  text-align: center;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

#loading img {
  width: 50px;
  height: 50px;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 40, 40, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 100%;
    max-height: 100%;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #ffffff;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #487ec5;
}

.highcharts-description {
    margin: 0.3rem 10px;
    text-align: center;
}
